# Visualize House Sales Data

Let's use pandas and matplotlib to help us to visualize sales data.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

pd.options.display.float_format = '{:,.2f}'.format

## Read and Display data

In [2]:
import os
import urllib.request

data_location = "../data/house-sales-simplified.csv"
# data_url = 'https://raw.githubusercontent.com/elephantscale/datasets/master/house-prices/house-sales-simplified.csv'

if not os.path.exists (data_location):
    data_location = os.path.basename(data_location)
    if not os.path.exists(data_location):
        urllib.request.urlretrieve(data_url, data_location)
        print ('Downloading : ', data_url)
print('data_location :', data_location)

data_location : ../data/house-sales-simplified.csv

In [3]:
house_prices = pd.read_csv(data_location)
house_prices

,ID,Date,SalePrice,PropertyID,PropertyType,Bedrooms,Bathrooms,SqFtTotLiving,SqFtLot,YrBuilt,ZipCode
0,1,9/16/14,280000,1000102,Multiplex,6,3.00,2400,9373,1991,98002
1,2,6/16/06,1000000,1200013,Single Family,4,3.75,3764,20156,2005,98166
2,3,1/29/07,745000,1200019,Single Family,4,1.75,2060,26036,1947,98166
3,4,2/25/08,425000,2800016,Single Family,5,3.75,3200,8618,1966,98168
4,5,3/29/13,240000,2800024,Single Family,4,1.75,1720,8620,1948,98168
...,...,...,...,...,...,...,...,...,...,...,...
27058,27059,10/31/12,374000,9895000030,Townhouse,2,1.75,1410,1161,2011,-1
27059,27060,12/7/12,374000,9895000040,Townhouse,2,1.75,1410,1005,2011,-1
27060,27061,7/9/12,165000,9899200010,Single Family,4,1.00,1070,11170,1971,98055
27061,27062,5/26/06,315000,9900000355,Single Family,3,2.00,1345,6223,1939,98166
27062,27063,1/9/07,465000,9906000035,Single Family,3,1.50,790,4400,1928,98103

## 'Summary' of data

In [4]:
## TODO : use describe to get an idea of the data
## Hint : 'describe' 
house_prices.???()

SyntaxError: invalid syntax (1854841914.py, line 3)

## Pair Plot

Try this plot.

Can you make sense of it? :-)

In [ ]:
## TODO : Do a 'pairplot' to see patterns

# let's remove 'ID' and 'PropertyID' columns as they don't add any value
sns.???(house_prices.drop(columns = ['ID', 'PropertyID']))
plt.show()

## Histogram / Frequency Plot
Create a frequency table & histogram plot based on number of bedrooms

In [ ]:
## calculate a frequency count
## Hint : group by 'Bedrooms'
freq_count = house_prices.groupby("Bedrooms").size()
freq_count

In [ ]:
## TODO : countplot
## Hint : data=house_prices,   x='Bedrooms'

sns.countplot(data=???, x="???")

In [ ]:
sns.countplot(data=???, x="???")

## Create a BoxPlot on sale prices 
Sale prices per property type  (Single Family, Townhouse)

In [ ]:
## TODO : data=price_by_property_type
## Hint : data=house_prices. X='PropertyType', y='SalePrice'
sns.boxplot(data=???, x="???", y="???")

## Bonus Lab : Improving our plot
Our plot data is pretty 'squished'  Let's see if we can improve it.  
Some of the outliers (like the 33 bedroom house is messing up the display).  
Let's remove the outliers.

In [ ]:
## We are going to remove 10% off the data from the bottom and top

## first calculate 10%  and 90% prices
## Hint : supply the right parameters for quantile (10% --> 0.1,  90% --> 0.9)
ten_ninety = house_prices.SalePrice.quantile([.1, .9])

## extract 10% and 90% into variables
ten_percent_price = int(house_prices.SalePrice.quantile(.1))
ninety_percent_price = int(house_prices.SalePrice.quantile(.9))
print("10% price=", ten_percent_price,  ", 90% price=", ninety_percent_price)

In [ ]:
## filter out below 10% and above 90%
print("total sales ", house_prices.shape[0])

## filter prices above 10%  (hint : ten_percent_price)
above_ten = house_prices[house_prices["SalePrice"] >= ten_percent_price]
print("above 10% " , above_ten.shape[0])

## filter prices below 90%  (hint : <= ninety_percent_price)
below_ninety  = house_prices[house_prices["SalePrice"] <= ninety_percent_price]
print("below 90% ", below_ninety.shape[0])
## filter above 10% and below 90% in one query
above_ten_below_ninety = house_prices.loc[(house_prices['SalePrice'] >= ten_percent_price) & (house_prices['SalePrice'] <=  ninety_percent_price)]
print("between 10% and 90% = {:,}".format(above_ten_below_ninety.shape[0]))

In [ ]:
## TODO: do the same plot again
## Hint : data=above_ten_below_ninety
sns.boxplot(data=above_ten_below_ninety, x="PropertyType", y="SalePrice",  )

In [ ]:
## TODO : try a violin plot

sns.???(data=above_ten_below_ninety, x="PropertyType", y="SalePrice",  )

## Any other plots?
Look at [MatplotLib Examples](https://matplotlib.org/gallery.html).
If any of them inspire you try to create a graph like that!
And do show it off to the class  :-)